/node_modules
/typescript-learning/node_modules
/node-learning/2-express-tutorial/node_modules
/tmp
/files
/typescript-learning/*.js
/typescript-learning/*.js.map
/node-learning/reviews/node_modules
/express/node_modules